.numOfReact{
    float: right;
    display: flex;
    padding-right: 20px;
}
.react{
    margin: 20px
}
.like{
    width: 30px;
    height: 30px;
}

.disLike{
    width: 30px;
    height: 30px;
}

.like:hover{
   color: blue;
}

.disLike:hover{
    color: blue;
}

.videoSong{
    background-color: #FF9D37;
}