
.info-song:hover{
    background: #efefef;
    cursor: pointer;
}

.songName{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 18px;
}
.songSinger{
    font-size: 14px;
    /* color: #a0a0a0; */
    color: blue;
}
.imgSinger{
    width: 80%;
    height: 80%;
}
.imgSong{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgSong .rank {
    margin: 5px; 
}
.title{
    font-family: "Times New Roman", Times, serif;
    margin-top: 15px;
    padding-right: 10px;
    align-items: center;
}
.rank{
    display: flex;
    align-items: center;
    /* padding-left: 5px; */

}