.Play-list-song{
    height: 450px;
    width: 100%;
    overflow: auto;
    background-color: #FF9D37;
    position: sticky;
    top: 0;
    border: 1px solid #555;
}

.category{
  position: sticky;
  top: 0;
  background: #f15927;
  width: 100%;
}

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f15927; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }