
.vote{
    display: flex;
    justify-content: center;
}
.vote .likeList{
    height: 30px;
    width: 30px;
}
.vote .disLikeList{
    height: 30px;
    width: 30px;

}

.likeList:hover{
    color: blue;
}

.disLikeList:hover{
    color: blue;
}
.down-vote{
    margin-left: 10px;
}
.num-vote{
    font-size: 20px;
}