.music-card {
  font-family: "Times New Roman", Times, serif;
  margin-top: 2px;
  padding-right: 10px;
  align-items: center;
}

.music-card:hover {
  background: #efefef;
  cursor: pointer;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-card .song-title {
  font-size: 18px;
}

.music-card .singer {
  font-size: 14px;
}

.info {
  padding: 0;
}

.show-more-button{
  margin-top: 10px;
  border: none;
}

