.musicCard {
  font-family: "Times New Roman", Times, serif;
  margin-top: 2px;
  padding-right: 10px;
  align-items: center;
}

.musicCard:hover {
  background: #efefef;
  cursor: pointer;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-add {
  display: flex;
  align-items: center;
  justify-content: center;
}

.musicCard .song-title {
  font-size: 18px;
}

.musicCard .singer {
  font-size: 14px;
}

.info {
  padding: 0;
}
