.header .col-logo{
  text-align: center;
   /* background-color: #FAF3FF; */
}

.header .col-search{
    display: flex;
    align-items: center;
}

.header .col-info{
    display: flex;
    align-items: center;
}
.header{
  background-color: #F7F7F7;
  box-shadow: 0 1px 1px #e3e3e3;
  position: sticky;
  top: 0;
  z-index: 1;
}