.footer-img {
  position: relative;
  color: #ccc;
  margin-top: 100px;
}
.section {
  position: relative;
  position: static;
  /* background-image: url(../Image/italy.jpg); */
  background-image: url(../Image/HaLongBay.jpeg);
  background-size: cover;
  height: 100%;
  height: 300px;
}

.footer-title {
  background-color: #f15927;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer {
  position: relative;
  z-index: 1;
}

.logo-img {
  margin-top: 60px;
}

.full-background {
  background-color: rgba(0, 0, 0, 0.6);
  background-attachment: fixed;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
}
