.authenticated{
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}

.authenticated .user-info{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 6px; 
}
