.song-video-name {
  padding-top: 20px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}

.add-song {
  float: right;
}

.detail {
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}
.detail .title{
  font-Size: 20px;
}

#playlist-start {
  pointer-events: none;
}

.title{
  color: #007bff;
}

.addedUser{
  color: #F15927
}