.sidebar-playlist {
  height: 500px;
  width: 100%;
  overflow: auto;
  background-color: white;
  position: sticky;
  top: 0;
  overflow-x: hidden;
}

.sidebar-playlist::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

.sidebar-playlist::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.sidebar-playlist::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dbdbdb;
}
.heading{
  padding-bottom: 20px;
}
